<div class="container page-wraper">
  <h3 class="text-center mb-5">Ціни скіпасів 2019/2020</h3>
  <div class="row">
    <div class="col-lg-6 text-center mb-3">
      <h6>ВЛ1000 та Допельмайр / мультіліфт від ГК "Драгобрат"</h6>
      <img src="/images/bugel.png" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>"Вершина Карпат" (крісло / бугель / мультіліфт)</h6>
      <img src="/images/vershina.png" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>Крісло "Карпатська Чайка" / Бугель на Жандарм</h6>
      <img src="https://wiki.snig.info/images/4/41/Chaika2020.jpg" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>СТК "ОАЗА" (бугель / multilift)</h6>
      <img src="https://wiki.snig.info/images/c/cd/Oaza19.jpg" />
    </div>
  </div>
  <hr/>
<!--  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeunvzKLLQQ2mtBOCcZpZP2yBMRKHF-zg9XTpOWfsmdYyhflg/viewform?embedded=true" width="100%" height="1600px;" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>-->
</div>